# Githubに上げたくないファイルの設定
# 無料ユーザーは1GBまでなので容量が無駄に食いそうなファイル（DB,画像、ログ）は上げない
# pullした時に環境によって上書きしたくないファイルも上げない
!/zipcode/dat/address.sqlite
# 直下のディレクトリ配下を対象外にする。
plugin/
bkup/

# 配下の「img」ディレクトリすべてを対象外にする
**/_/
# **/img/
**/up/
**/bkup/
**/_bkup/
**/test/
**/up/
**/vender/
**/files/
**/dat/

# 指定した拡張子のファイルすべてを対象外にする
# （/をつけないことでサブディレクトリ全体を指定）
*.jpg
*.png
*.gif
*.psd
*.cgi
*.mp3
*.mp4
*.sqlite
*.dat
*.csv
*.txt
*.db
*.zip
*.log
__*.php
temp*.py

#上記にて設定対象であるが、例外としてGithubに上げたいファイルの設定
#無視しないファイルのパスの頭に!をつけて指定
#反映されているかどうかは「ソース管理」に変更として列挙されているかで確認できる

# /zipcode/*
# !/zipcode/dat/
# /zipcode/dat/*
# !/zipcode/dat/address.sqlite

#これだとそのフォルダ以下は無視=アップする
### !zipcode/dat/*
